# Ignore all files/folders in the root directory by default
/*

# Do NOT ignore the week1 and week2 directories and their contents
!/week1/
!/week2/

# Do NOT ignore this .gitignore file itself
!/.gitignore
!/pom.xml
!/.vscode/

# Ignore compiled Java class files
*.class

# Ignore downloaded jar libraries
*.jar

# Ignore local Maven installation zip and folder
/week2/maven.zip
/week2/maven/

# Ignore Maven build target directories
**/target/
